<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Admin/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/Admin/img/LogoVinh.png">
    <title>Trường THPT chuyên Vinh</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Main/style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="container-main">

        @RenderBody()
        <div class="footer">
            <div class="box-logo">
                <div class="container-logo"><img class="logo" src="~/Content/Main/image/logo.png" alt=""></div>
            </div>
            <div class="footer-info">
                <h1>Trường trung học phổ thông Chuyên Vinh</h1>
                <h6>Chịu trách nhiệm chính: TS. Phạm Xuân Chung - Hiệu trưởng Trường THPT Chuyên</h6>
                <h6>Địa chỉ nhà trường: Số 182, đường Lê Duẩn, thành phố Vinh, tỉnh Nghệ An</h6>
                <h6>Email trường: c3chuyentoan@nghean.edu.vn</h6>
                <h6>Điện thoại văn phòng trường: (0238) 3855724</h6>
            </div>
        </div>

    </div>
    <script>
        var d = new Date();
        var thu = ["Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ bảy"];
        var thang = ["1","2","3","4","5","6","7","8","9","10","11","12"];
        document.getElementById("date").innerHTML = thu[d.getDay()] + ", Ngày " + d.getDate() + " tháng " + thang[d.getMonth()] + " năm " + d.getFullYear();
    </script>
</body>
</html>
